/*
  CSS Customizado para riegos.dev
*/

body {
  font-family: "Inter", sans-serif;
  background-image: url("./img/riegosdev.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* Header Fixo com a nova logo de fundo */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("./img/logo-header-metade.png");
  background-size: 91% 150px;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  z-index: 1000;
  background-color: rgba(
    15,
    23,
    42,
    0.8
  ); /* Fundo semi-transparente para o header */
  backdrop-filter: blur(
    5px
  ); /* Efeito de blur no fundo do header */
}

/* Ajuste no conteúdo principal para não ficar sob o header fixo */
#main-content {
  padding-top: 170px; /* Altura do header + um pouco de espaço */
  padding-bottom: 40px;
}

/* Texto "riegos.dev" estilizado */
.logo-text {
  font-size: 2.5em;
  font-weight: 900;
  color: #160788;
  text-decoration: none;
  text-shadow: 1px 1px 3px
    rgba(0, 0, 0, 0.5);
}

/* Estilos gerais para os cards de projeto */
.project-card {
  background-color: rgba(
    15,
    23,
    42,
    0.6
  );
  backdrop-filter: blur(10px);
  border: 1px solid
    rgba(51, 65, 85, 0.5);
  border-radius: 0.75rem;
  padding: 2rem;
  box-shadow: 0 10px 30px
    rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 100%; /* Garante que os cards na mesma linha tenham a mesma altura */
}

.project-card .card-content {
  flex-grow: 1; /* Faz o conteúdo crescer para preencher o espaço */
}

.project-card h2 {
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: -0.05em;
  background: linear-gradient(
    to right,
    #22d3ee,
    #0d9488
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.project-card p {
  font-size: 1.125rem;
  color: #f8fafc;
  line-height: 1.6;
}

.project-card .stacks {
  margin-top: 1.5rem;
  color: #94a3b8;
  font-size: 0.875rem;
}

.project-card .links {
  margin-top: auto; /* Empurra os links para o final do card */
  padding-top: 1rem; /* Espaçamento acima dos links */
}

.project-card a {
  display: inline-block;
  color: #22d3ee;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 1rem;
}

.project-card a:hover {
  color: #0d9488;
}

#sitemap-dropdown-container {
  position: absolute; /* Define o posicionamento como absoluto */
  left: 18%; /* Distância da esquerda. Teste valores como 25%, 30%, etc. */
  top: 60px; /* Distância do topo. Ajuste o valor em pixels conforme necessário */
}

/* Media query para responsividade em mobile */
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
  .fixed-header {
    background-size: 150% 100px;
    height: 100px;
  }
  #main-content {
    padding-top: 120px;
  }
  .logo-text {
    font-size: 1.8em;
  }
}
